<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			
			<h3>Belépés</h3>
			
			<div class="text-center"><a href="https://www.facebook.com/dialog/oauth?client_id=728081890591646&redirect_uri=http://local.aprohirdetes.com${app.contextRoot}/belepes/fb" class="btn btn-facebook btn-lg" role="button">Belépés Facebookkal</a></div>
			
			<div class="divider"><span>vagy</span></div>
			
			<form class="form-horizontal" role="form" method="post">
				<#if hibaUzenet?? >
				<div class="alert alert-danger">${hibaUzenet}</div>
				</#if>
				
				<div class="form-group">
					<label class="col-sm-4 control-label" for="hirdetoEmail">Email cím</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="signinEmail" name="signinEmail" value="${(email)!''}" placeholder="E-mail cím" required="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="hirdetoJelszo">Jelszó</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="signinPassword" name="signinPassword" autofocus="" required="" placeholder="Jelszó">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-7">
						<a href="${app.contextRoot}/ujjelszo">Elfelejtettem a jelszavam</a>
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-sm-offset-4 colsm-7">
						<button type="submit" class="btn btn-success btn-lg">Belépek</button>
					</div>
				</div>
			</form>
			
			<h3>Segítség</h3>
			<p><ul>
				<li><a href="${app.contextRoot}/ujjelszo">Elfelejtettem a jelszavam</a></li>
				<li><a href="${app.contextRoot}/regisztracio">Regisztrálni szeretnék</a></li>
			</ul></p>
			
		</div>
	    <script type="text/javascript">
		$('#belepesButton').click(function(){
			var data = new Object();
			data.felhasznaloNev = $('#signinEmail').val();
			data.jelszo = $('#signinPassword').val();
			
			$.ajax({
		        type: "POST",
		        url: "${app.contextRoot}/api/v1/session/belepes",
		        data: JSON.stringify(data),
		        contentType: "application/json; charset=utf-8",
		        dataType: "json"
			}).done(function(data){
	        	window.location = '${app.contextRoot}/';
	        }).fail(function(jqXHR, textStatus) {
	            alert("Hibás felhasználónév vagy jelszó!");
	        });
		});
	    </script>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
