		<div class="row search_container">
			<form class="form-inline" name="KeresesForm" role="form" id="KeresesForm">
				<input type="hidden" name="s" value="${sorrend!1}">
				
				<div class="form-group col-md-4 col-sm-3 col-md-4">
				  <label class="sr-only" for="searchQuery">Keresett kifejezés</label>
				  <input type="text" class="typeahead form-control" id="hirdetesKulcsszo" name="q" value="${q!''?html}" placeholder="Keresett kifejezés">
				</div>
				
				<div class="form-group col-xs-5 col-sm-2 col-md-2">
					<select class="form-control" id="hirdetesTipus" width="100%">
						<option value="kinal" <#if hirdetesTipus=2>selected</#if>>Kínál</option>
						<option value="keres" <#if hirdetesTipus=1>selected</#if>>Keres</option>
					</select>
				</div>
				
				<div class="form-group col-xs-7 col-sm-3 col-md-2">
					<select class="form-control" id="hirdetesKategoria">
						<#assign selectedKategoria="">
						<#if hirdetesKategoria?has_content >
							<#assign selectedKategoria=hirdetesKategoria[0]>
						</#if>
						<option value="">Összes kategória</option>
						<#list kategoriaList as kategoria>
						<option value="${kategoria.urlNev}" style="font-weight: bold;" <#if '${kategoria.urlNev}'=selectedKategoria>selected</#if>>${kategoria.nev}</option>
							<#list kategoria.alkategoriaList as alkategoria>
							<option value="${alkategoria.urlNev}" <#if '${alkategoria.urlNev}'=selectedKategoria>selected</#if>>&nbsp;&nbsp;${alkategoria.nev}</option>
								<#list alkategoria.alkategoriaList as alalkategoria>
								<option value="${alalkategoria.urlNev}" <#if '${alalkategoria.urlNev}'=selectedKategoria>selected</#if>>&nbsp;&nbsp;&nbsp;&nbsp;${alalkategoria.nev}</option>
								</#list>
							</#list>
						</#list>
					</select>
				</div>
				
				<div class="form-group col-xs-12 col-sm-4 col-md-3">
					<select class="form-control" id="hirdetesHelyseg">
						<option value="osszes-helyseg">Összes helység</option>
						<#list helysegList as helyseg>
						<option value="${helyseg.urlNev}" <#if '${helyseg.urlNev}'="${hirdetesHelyseg[0]!''}">selected</#if>>${helyseg.nev}</option>
							<#list helyseg.alhelysegList as alhelyseg>
							<option value="${alhelyseg.urlNev}" style="font-weight: bold;" <#if '${alhelyseg.urlNev}'="${hirdetesHelyseg[0]!''}">selected</#if>>&nbsp;&nbsp;${alhelyseg.nev}</option>
								<#list alhelyseg.alhelysegList as alalhelyseg>
								<option value="${alalhelyseg.urlNev}" <#if '${alalhelyseg.urlNev}'="${hirdetesHelyseg[0]!''}">selected</#if>>&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
								</#list>
							</#list>
						</#list>
					</select>
				</div>
				
				<button type="button" class="btn btn-success hidden-xs hidden-sm" id="btnKereses">Keresés</button>
			</form>
			<script type="text/javascript">
			$('#hirdetesKulcsszo').keypress(function(event) {
				if (event.keyCode == 13) {
		        	$('#btnKereses').click();
					return false;
		        }
		    });
			
			var kulcsszoAPI = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.whitespace,
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				sufficient: 10,
				remote: {
				    url: '/api/v1/kulcsszoLista?p=%QUERY',
				    wildcard: '%QUERY'
				}
			});
			
			$('#hirdetesKulcsszo').typeahead({
				hint: true,
				highlight: false,
				minLength: 2
			},
			{
				name: 'keywords',
				limit: 10,
				source: function (query, processSync, processAsync) {
					return $.get('/api/v1/kulcsszoLista', { p: query }, function (data) {
			        	var matches = [];
			            $.each(data.data.keywords, function(i, obj) {
			                matches.push(obj.name);
			            });
			            return processAsync(matches);
			        });
				}
			});
						
			$('#hirdetesTipus').change(function(){
				$('#btnKereses').click();
			});
			
			$('#hirdetesKategoria').change(function(){
				$('#btnKereses').click();
			});
			
			$('#hirdetesHelyseg').change(function(){
				$('#btnKereses').click();
			});
			
			$('#btnKereses').click(function(){
				
				if(typeof window.p === 'undefined') window.p = 1;
	
				var kulcsszo = $('#hirdetesKulcsszo').val();
				var tipus = $('#hirdetesTipus').val();
				var helyseg = $('#hirdetesHelyseg').val();
				var kategoria = $('#hirdetesKategoria').val();
				//var arMin = $('#keresesArMin').val();
				//var arMax = $('#keresesArMax').val();
				
				var action = '';
				helysegUrl = (helyseg.length>0) ? helyseg + '/' : '';
				kategoriaUrl = (kategoria.length>0) ? kategoria + '/' : '';
				action = appContext + '/kereses/' + tipus + '/' + helysegUrl + kategoriaUrl + '?';
				
				if(kulcsszo.length>0) action = action + 'q=' + kulcsszo;
				if(p>1) action = action + '&p=' + window.p;
				if(s>0) action = action + '&s=' + window.s;
				
				$('#adv_search_container *').filter(':input').each(function(key, obj){
					// obj.type: number, checkbox, select-one
					
					if(obj.type=='number' && this.value.length>0) {
						action = action + '&' + this.name + '=' + this.value;
						return;
					}
					if(obj.type=='checkbox' && obj.checked==true) {
						action = action + '&' + this.name + '=' + this.value;
						return;
					}
					if(obj.type=='select-one' && this.value.length>0) {
						action = action + '&' + this.name + '=' + this.value;
						return;
					}
					//alert(obj.name + ': ' + obj.type + ': ' + this.value);
				});
				
				window.location = encodeURI(action);
			});
			</script>
		</div>
		