		<div class="row search_container">
			<div class="well">
				<form class="form-inline" role="form" method="get" id="KeresesForm" onSubmit="submitKereses()">
					<div class="form-group" style="width: 45%;">
					  <label class="sr-only" for="searchQuery">Keresett kifejezés</label>
					  <input type="search" class="form-control" id="hirdetesKulcsszo" name="q" value="${q!''?html}" placeholder="Keresett kifejezés" style="width: 100%;">
					</div>
					<select class="form-control" style="width: 10%;" id="hirdetesTipus">
						<option value="kinal" <#if hirdetesTipus=2>selected</#if>>Kínál</option>
						<option value="keres" <#if hirdetesTipus=1>selected</#if>>Keres</option>
					</select>
					<select class="form-control" style="width: 15%;" id="hirdetesHelyseg">
						<#list helysegList as helyseg>
						<option value="${helyseg.urlNev}" <#if '${helyseg.urlNev}'=hirdetesHelyseg[0]>selected</#if>>${helyseg.nev}</option>
							<#list helyseg.alhelysegList as alhelyseg>
							<option value="${alhelyseg.urlNev}" <#if '${alhelyseg.urlNev}'=hirdetesHelyseg[0]>selected</#if>>&nbsp;&nbsp;${alhelyseg.nev}</option>
								<#list alhelyseg.alhelysegList as alalhelyseg>
								<option value="${alalhelyseg.urlNev}" <#if '${alalhelyseg.urlNev}'=hirdetesHelyseg[0]>selected</#if>>&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
								</#list>
							</#list>
						</#list>
					</select>
					<select class="form-control" style="width: 15%;" id="hirdetesKategoria">
						<#list kategoriaList as kategoria>
						<option value="${kategoria.urlNev}" <#if '${kategoria.urlNev}'=hirdetesKategoria[0]>selected</#if>>${kategoria.nev}</option>
							<#list kategoria.alkategoriaList as alkategoria>
							<option value="${alkategoria.urlNev}" <#if '${alkategoria.urlNev}'=hirdetesKategoria[0]>selected</#if>>&nbsp;&nbsp;${alkategoria.nev}</option>
							</#list>
						</#list>
					</select>
					<button type="submit" class="btn btn-default" style="width: 10%;">Keresés</button>
				</form>
			</div>
		</div>
