<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<#if hibaUzenet?? >
			<div class="alert alert-danger">${hibaUzenet}</div>
			</#if>
			<form class="form-horizontal" role="form" method="post">
			<h3>Hirdetés adatai</h3>
				<div class="form-group">
					<label class="col-sm-3 control-label">Hirdetés típusa</label>
					<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="hirdetesTipus" id="hirdetesTipusKinal" value="2" checked>
								Kínál (Eladni szeretnék)
							</label>
							<label class="radio-inline">
								<input type="radio" name="hirdetesTipus" id="hirdetesTipusKeres" value="1">
								Keres (Venni szeretnék)
							</label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesCim">Rövid leírás</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetesCim" name="hirdetesCim" autofocus="" required="" placeholder="" value="${(hirdetes.cim)!''}">
						<span class="help-block">Rövid, de beszédes címsor, ami pár szóban összefoglalja a hirdetésed tartalmát.</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesHelyseg">Ország, megye, település</label>
					<div class="col-sm-7">
						<select class="form-control" id="hirdetesHelyseg" name="hirdetesHelyseg">
							<#list helysegList as helyseg>
							<#assign selected=''>
							<#if hirdetesHelyseg==helyseg.urlNev>
								<#assign selected=' selected'>
							</#if>
							<option value="${helyseg.urlNev}"${selected}>${helyseg.nev}</option>
								<#list helyseg.alhelysegList as alhelyseg>
								<#assign selected=''>
								<#if hirdetesHelyseg==alhelyseg.urlNev>
									<#assign selected=' selected'>
								</#if>
								<option value="${alhelyseg.urlNev}"${selected}>&nbsp;&nbsp;${alhelyseg.nev}</option>
									<#list alhelyseg.alhelysegList as alalhelyseg>
									<#assign selected=''>
									<#if hirdetesHelyseg==alalhelyseg.urlNev>
										<#assign selected=' selected'>
									</#if>
									<option value="${alalhelyseg.urlNev}"${selected}>&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
									</#list>
								</#list>
							</#list>
						</select>
						<span class="help-block">Válaszd ki a hozzád legközelebb eső települést! Kereséskor a nagyobb földrajzi egység magában foglalja a kisebbeket, tehát pl. Budapestet megadva feltételként, az összes kerületbe feladott hirdetés meg fog jelenni.</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesKategoria">Kategória</label>
					<div class="col-sm-7">
						<select class="form-control" id="hirdetesKategoria" name="hirdetesKategoria">
							<#list kategoriaList as kategoria>
							<#assign selected=''>
							<#if hirdetesKategoria==kategoria.urlNev>
								<#assign selected=' selected'>
							</#if>
							<option value="${kategoria.urlNev}"${selected}>${kategoria.nev}</option>
								<#list kategoria.alkategoriaList as alkategoria>
								<#assign selected=''>
								<#if hirdetesKategoria==alkategoria.urlNev>
									<#assign selected=' selected'>
								</#if>
								<option value="${alkategoria.urlNev}"${selected}>&nbsp;&nbsp;${alkategoria.nev}</option>
								</#list>
							</#list>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdeteSzoveg">Hirdetés szövege</label>
					<div class="col-sm-7">
						<textarea class="form-control" rows="5" id="hirdetesSzoveg" name="hirdetesSzoveg">${(hirdetes.szoveg)!''}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesEgyebInfo">Egyéb információ</label>
					<div class="col-sm-7">
						<input type="url" class="form-control" id="hirdetesEgyebInfo" name="hirdetesEgyebInfo" placeholder="http://" value="${(hirdetes.egyebInfo)!''}">
						<span class="help-block">Pl. egy weboldal címe, ahol további részleteket talál az érdeklődő, vagy egy YouTube link, stb.</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesAr">Ár</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" class="form-control" id="hirdetesAr" name="hirdetesAr" required="" value="${(hirdetes.ar)!'0'}">
							<span class="input-group-addon">Ft</span>
						</div>
					</div>
				</div>
			
			<h3>Egyéb mezők</h3>
			<div id="attributumWrapper">
				<#if egyebAttributumok?? >
				${egyebAttributumok}
				<#else>
				<div class="alert alert-info">Ehhez a kategóriához nem tartoznak egyéb mezők.</div>
				</#if>
			</div>
			
			<h3>Hirdető adatai</h3>
			
				<#if session?? >
				<div class="alert alert-info">Az adataidat előre kitöltöttük, de bármelyik mező megváltoztatható hirdetésenként!</div>
				<#else>
				<div class="alert alert-info">Ha már regisztráltál nálunk, <a href="${app.contextRoot}/belepes?referrer=feladas">lépj be</a>, és kitöltjük az adataidat helyetted! Ha még nem, <a href="${app.contextRoot}/regisztracio">regisztrálj</a>, érdemes!</div>
				</#if>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoNev">Név</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoNev" name="hirdetoNev" value="${(hirdetes.hirdeto.nev)!''}">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelefon">Telefonszám</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="hirdetoTelefon" name="hirdetoTelefon" placeholder="+36-xx-xxxxxxx" value="${(hirdetes.hirdeto.telefon)!''}">
						<span class="help-block">Telefonszám formátuma: +36-99-1234567</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoIranyitoSzam">Irányítószám</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="hirdetoIranyitoSzam" name="hirdetoIranyitoSzam" value="${(hirdetes.hirdeto.iranyitoSzam)!''}">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelepules">Település</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="hirdetoTelepules" name="hirdetoTelepules" value="${(hirdetes.hirdeto.telepules)!''}">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoCim">Cím</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoCim" name="hirdetoCim" value="${(hirdetes.hirdeto.cim)!''}">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoEmail">Email cím</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" id="hirdetoEmail" name="hirdetoEmail" placeholder="@" required="" value="${(hirdetes.hirdeto.email)!''}">
					</div>
				</div>
				
				<#if !session?? >
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo">Jelszó</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo" name="hirdetoJelszo" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo2">Jelszó újból</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo2" name="hirdetoJelszo2" required="">
					</div>
				</div>
				</#if>
				
				<div class="form-group">
					<div class="checkbox col-sm-7 col-sm-offset-3">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="true" name="hirdetoHirlevel" checked="checked"> Hírlevelet kérek
							</label>
						</div>
					</div>
				</div>
			
			<h4>Képek</h4>
			
				<span class="btn btn-success fileinput-button">
					<i class="glyphicon glyphicon-plus"></i>
					<span>Képek feltöltése</span>
					<input id="fileupload" type="file" name="files[]" data-url="${app.contextRoot}/api/v1/kepFeltoltes/${feladasSession!''}" multiple>
				</span>
				<br></br>
				<div id="progress" class="progress progress-striped">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					</div>
				</div>
				<div class="alert alert-success" id="uploadMessage"></div>
				
			
				<div class="form-group">
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep1" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep2" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep3" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep4" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep5" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<img class="" id="hirdetesKep6" alt="Tölts fel képet!" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
						</div>
					</div>
				</div>
				
				<h4>Felhasználási feltételek és adatkezelés</h4>
				<div class="form-group">
					<div class="checkbox col-sm-7 col-sm-offset-3">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="true" name="feltetelek" checked="checked">Elismerem, hogy elolvastam és elfogadom az Apróhirdetés.com 
								<a href="${app.contextRoot}/feltetelek" target="_blank">Felhasználási feltételeit</a> és <a href="${app.contextRoot}/adatkezeles" target="_blank">Adatkezelési szabályzatát</a>
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-3 colsm-7">
						<button type="submit" class="btn btn-success btn-lg">Feladom a hirdetésem</button>
					</div>
				</div>
			</form>
		
		</div>
	    <script type="text/javascript">
		$('#hirdetesKategoria').change(function(){
			$('#attributumWrapper').html('<i class="fa fa-refresh fa-spin"></i>');
			var kategoria = $('#hirdetesKategoria').val();
			if(kategoria.length==0) return;
			
			$.get("${app.contextRoot}/api/v1/kategoriaAttributum/" + kategoria,
				function(data){
					if(data) {
	        			$('#attributumWrapper').html(data);
					} else {
						$('#attributumWrapper').html('<div class="alert alert-info">Ehhez a kategóriához nem tartoznak egyéb mezők.</div>');
					}
	        	}
			).fail(function() {
				$('#attributumWrapper').html('<div class="alert alert-warning">Hiba az egyéb mezők betöltése közben.</div>');
			});
		});
		
	    </script>
<#include "js.fileupload.ftl"/>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
