<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<form class="form-horizontal" role="form" method="post">
			<h3>Hirdetés adatai</h3>
				<div class="form-group">
					<label class="col-sm-3 control-label">Hirdetés típusa</label>
					<div class="col-sm-9">
						<div class="radio">
							<label>
								<input type="radio" name="hirdetesTipus" id="hirdetesTipusKinal" value="2" checked>
								Kínál
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="hirdetesTipus" id="hirdetesTipusKeres" value="1">
								Keres
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesCim">Rövid leírás</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetesCim" name="hirdetesCim" autofocus="" required="" placeholder="" data-toggle="tooltip" data-placement="right" title="first tooltip">
						<span class="help-block">Rövid, de beszédes címsor, ami pár szóban összefoglalja a hirdetés tartalmát.</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesHelyseg">Ország, megye, település</label>
					<div class="col-sm-7">
						<select class="form-control" id="hirdetesHelyseg" name="hirdetesHelyseg">
							<#list helysegList as helyseg>
							<option value="${helyseg.urlNev}">${helyseg.nev}</option>
								<#list helyseg.alhelysegList as alhelyseg>
								<option value="${alhelyseg.urlNev}">&nbsp;&nbsp;${alhelyseg.nev}</option>
									<#list alhelyseg.alhelysegList as alalhelyseg>
									<option value="${alalhelyseg.urlNev}">&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
									</#list>
								</#list>
							</#list>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesKategoria">Kategória</label>
					<div class="col-sm-7">
						<select class="form-control" id="hirdetesKategoria" name="hirdetesKategoria">
							<#list kategoriaList as kategoria>
							<option value="${kategoria.urlNev}">${kategoria.nev}</option>
								<#list kategoria.alkategoriaList as alkategoria>
								<option value="${alkategoria.urlNev}">&nbsp;&nbsp;${alkategoria.nev}</option>
								</#list>
							</#list>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdeteSzoveg">Hirdetés szövege</label>
					<div class="col-sm-7">
						<textarea class="form-control" rows="5" id="hirdetesSzoveg" name="hirdetesSzoveg"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesEgyebInfo">Egyéb információ</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetesEgyebInfo" name="hirdetesEgyebInfo" placeholder="http://">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetesAr">Ár</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" class="form-control" id="hirdetesAr" name="hirdetesAr" required="">
							<span class="input-group-addon">Ft</span>
						</div>
					</div>
				</div>
				
			<h3>Hirdető adatai</h3>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoNev">Név</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoNev" name="hirdetoNev">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoEmail">Email cím</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" id="hirdetoEmail" name="hirdetoEmail" placeholder="@" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelefon">Telefonszám</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="hirdetoTelefon" name="hirdetoTelefon" placeholder="+36-xx-xxxxxxx">
						<span class="help-block">Telefonszám formátuma: +36-99-1234567</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoIranyitoSzam">Irányítószám</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="hirdetoIranyitoSzam" name="hirdetoIranyitoSzam">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelepules">Település</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="hirdetoTelepules" name="hirdetoTelepules">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoCim">Cím</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoCim" name="hirdetoCim">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo">Jelszó</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo" name="hirdetoJelszo" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo2">Jelszó újból</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo2" name="hirdetoJelszo2" required="">
					</div>
				</div>
				
				<div class="form-group">
					<div class="checkbox col-sm-7 col-sm-offset-3">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" name="hirdetoHirlevel"> Hírlevél
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-3 colsm-7">
						<button type="submit" class="btn btn-primary">Mehet</button>
					</div>
				</div>
			</form>
			
			<h4>Képek</h4>
			
				<input type="file" class="" id="hirdetesKepUpload1" name="hirdetesKepUpload1">
				
				<div class="form-group">
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" id="hirdetesKep1" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras1" name="hirdetesKepLeiras1" placeholder="Kép leírása">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras2" name="hirdetesKepLeiras2">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras3" name="hirdetesKepLeiras3">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras4" name="hirdetesKepLeiras4">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras5" name="hirdetesKepLeiras5">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PHN2…wiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"></img>
							<div class="caption">
								<input type="text" class="form-control input-sm" id="hirdetesKepLeiras6" name="hirdetesKepLeiras6">
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-xs">Feltöltés</button>
								<button type="button" class="btn btn-danger btn-xs">Törlés</button>
							</div>
						</div>
					</div>
				</div>
				
			
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>