<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<div class="col-sm-3 col-md-2">
		
<#include "profil_menu.ftl.html"/>
				
			</div>
			<div class="col-sm-9 col-md-10">
			
				<form class="form-horizontal" role="form" method="post">
				<h3>Adatok módosítása</h3>
					
					<#if uzenet?? >
					<div class="alert alert-success">${uzenet}</div>
					</#if>
					<#if hibaUzenet?? >
					<div class="alert alert-danger">${hibaUzenet}</div>
					</#if>
					
					<div class="form-group">
						<label class="col-sm-3 control-label">Hirdető típusa</label>
						<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="hirdetoTipus" id="hirdetoTipusMsz" value="1" ${hirdetoTipusMsz}>
									Magánszemély
								</label>
								<label class="radio-inline">
									<input type="radio" name="hirdetoTipus" id="hirdetoTipusCeg" value="2" ${hirdetoTipusCeg}>
									Cég, társaság
								</label>
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoNev">Név</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="hirdetoNev" name="hirdetoNev" value="${(hirdeto.nev)!''}">
						</div>
					</div>
					
					<div class="form-group" id="hirdetoCegNevFormGroup" <#if (hirdetoTipusMsz?length>0)>style="display: none;"</#if>>
						<label class="col-sm-3 control-label" for="hirdetoNev">Cégnév</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="hirdetoCegNev" name="hirdetoCegNev" value="${(hirdeto.cegNev)!''}">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoEmail">Email cím</label>
						<div class="col-sm-7">
							<input type="email" class="form-control" id="hirdetoEmail" name="hirdetoEmail" value="${(hirdeto.email)!''}" placeholder="@" required="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoTelefon">Telefonszám</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="hirdetoTelefon" name="hirdetoTelefon" value="${(hirdeto.telefon)!''}" placeholder="+36-xx-xxxxxxx">
							<span class="help-block">Telefonszám formátuma: +36-99-1234567</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoIranyitoSzam">Irányítószám</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="hirdetoIranyitoSzam" name="hirdetoIranyitoSzam" value="${(hirdeto.iranyitoSzam)!''}">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoTelepules">Település</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="hirdetoTelepules" name="hirdetoTelepules" value="${(hirdeto.telepules)!''}">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoCim">Cím</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="hirdetoCim" name="hirdetoCim" value="${(hirdeto.cim)!''}">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoJelszo">Jelszó</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" id="hirdetoJelszo" name="hirdetoJelszo">
							<span class="help-block">Csak akkor töltsd ki, ha módosítani szeretnéd</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoJelszo2">Jelszó újból</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" id="hirdetoJelszo2" name="hirdetoJelszo2">
						</div>
					</div>
					
					<div class="form-group">
						<div class="checkbox col-sm-7 col-sm-offset-3">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="hirlevel" name="hirdetoHirlevel" checked="checked"> Hírlevelet kérek
								</label>
							</div>
						</div>
					</div>
				
					<div class="form-group">
						<div class="col-sm-offset-3 colsm-7">
							<button type="submit" class="btn btn-success btn-lg">Mentés</button>
						</div>
					</div>
				</form>
				<script type="text/javascript">
				$('#hirdetoTipusMsz').click(function(){
					$('#hirdetoCegNevFormGroup').hide();
				});
				$('#hirdetoTipusCeg').click(function(){
					$('#hirdetoCegNevFormGroup').show();
				});
				</script>
			</div>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
