<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<div class="col-sm-3 col-md-2">
		
<#include "profil_menu.ftl.html"/>
				
			</div>
			<div class="col-sm-9 col-md-10">
			
				<h3>Beállítások</h3>
					
					<#if uzenet?? >
					<div class="alert alert-success">${uzenet}</div>
					</#if>
					<#if hibaUzenet?? >
					<div class="alert alert-danger">${hibaUzenet}</div>
					</#if>
					
					<h4>Apró API</h4>
					<p>Az Apróhirdetés.com REST API egy API key segítségével azonosítja a felhasználókat. 
					API Key-t csak regisztrált felhasználó igényelhet, ami bármikor újragyártható a lenti gomb segítségével.
					A Te API Key-ed itt található, kérlek vigyázz rá, hogy illetéktelen kezekbe ne kerüljön!
					</p>
					<div id="apikeyContainer">
						<div id="apikeyCover" class="alert alert-warning" role="alert">A biztonság kedvéért elrejtettük, kattints ide, és látható lesz!</div>
						<#if hirdeto.apiKey?? >
							<div id="apikeyContent" class="alert alert-success" role="alert"><b>API Key:</b> ${(hirdeto.apiKey)}
							<button id="apikeyGenerateButton">Generálok új API Key-t</button></div>
						<#else>
							<div id="apikeyContent" class="alert alert-success" role="alert">Neked még nincs API Key-ed, de generálhatsz egyet!
							<button id="apikeyGenerateButton">Generálok API Key-t</button></div>
						</#if>
					</div>
					<br>
					
					<h4>Facebook belépés</h4>
					<#if hirdeto.facebookId?? >
					<p>Szuper! Felhasználói fiókod már össze van kötve a Facebook profiloddal.</p>
					<#else>
					<p>Felhasználói fiókod még nincs összekötve a Facebook profiloddal.</p>
					<p><a href="https://www.facebook.com/dialog/oauth?client_id=728081890591646&redirect_uri=http://local.aprohirdetes.com${app.contextRoot}/belepes/fb" class="btn btn-facebook btn-lg" role="button">Belépés Facebookkal</a></p>
					</#if>
					<script type="text/javascript">
					$('#apikeyContent').hide();
					
					$('#apikeyCover').click(function() {
						$('#apikeyCover').hide();
						$('#apikeyContent').show();
					});
					
					$('#apikeyGenerateButton').click(function() {
						var data = new Object();
						
						$.ajax({
					        type: "POST",
					        url: "${app.contextRoot}/api/v1/hirdeto/${hirdeto.id}/apikeys",
					        data: JSON.stringify(data),
					        contentType: "application/json; charset=utf-8",
					        dataType: "json"
						}).done(function(data){
				        	location.reload(true);
				        }).fail(function(jqXHR, textStatus) {
				            alert("Hiba");
				        });
					});
					</script>
					<br>
					
					<h4>Jelszó megváltoztatása</h4>
					<form class="form-horizontal" role="form" method="post" action="${app.contextRoot}/felhasznalo/jelszocsere">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoJelszo">Jelszó</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" id="hirdetoJelszo" name="hirdetoJelszo" required="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label" for="hirdetoJelszo2">Jelszó újból</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" id="hirdetoJelszo2" name="hirdetoJelszo2" required="">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-3 colsm-7">
							<button type="submit" class="btn btn-success btn-lg">Mentés</button>
						</div>
					</div>
					</form>
			</div>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
