<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row">
			<h2>Felhasználási feltételek</h2>
			
			<p>Utolsó módosítás: 2014. június 25.</p>
			
			<h3>Általános rendelkezések</h3>
			
			<p>A jelen Felhasználási feltételek (a továbbiakban: Szabályzat) a ZURIEL Korlátolt Felelősségű Társaság (1064 Budapest, Izabella u. 88.; Cg. 01-09-713222; a továbbiakban: Társaság) által üzemeltetett Apróhirdetés.com nevű, a https://www.aprohirdetes.com címen elérhető online apróhirdetési oldal (a továbbiakban: Apróhirdetés.com) szolgáltatásainak (a továbbiakban: Szolgáltatás) igénybe vevője (a továbbiakban: Felhasználó) általi használatának feltételeit tartalmazza.</p>
			
			<p>Jelen Szabályzat szempontjából felhasználó minden olyan személy, aki megtekinti az Apróhirdetés.comot, illetve aki hirdetést helyez el, illetve terméket kínál eladásra, vagy termék megvételére ajánlatot tesz, azaz hirdetésre jelentkezik (a továbbiakban: Felhasználó). A Felhasználó a Szolgáltatás használatának megkezdésével elfogadja és magára nézve kötelezőnek ismeri el a jelen Szabályzat, továbbá a Társaság <a href="${app.contextRoot}/adatkezeles" target="_blank">Adatkezelési szabályzatának</a> rendelkezéseit.</p>
			
			<p>A Társaság fenntartja továbbá jogát bármely felhasználó kizárására, vagy bármely tartalom, információ törlésére, amely értelmezése szerint ellenkezik az Apróhirdetés.com rendeltetésszerű használatával vagy azzal ellentétesnek (rágalmazásnak, jogellenesnek, sértőnek vagy erkölcstelennek) minősül.</p>
			
			<p>A Szolgáltatás használatával a Felhasználó és az Üzemeltető között online szerződés jön létre az Ekrtv.1 5. § (4) bekezdésének megfelelően.</p>
			
			<p>A Társaság fenntartja jogát a jelen Szabályzat egyoldalú módosítására. A módosításról a Társaság rövid felhívás formájában tájékoztatja a Felhasználót.</p>
			
			<h3>Felelősség</h3>
			
			<p>Az Apróhirdetés.com-ra feltöltött hirdetések tartalmáért kizárólag a Felhasználót terheli felelősség. A Felhasználó a Szolgáltatások használatának megkezdésével tudomásul veszi, hogy az Apróhirdetés.com-ra általa feltöltött információk, anyagok, szövegek és adatok tartalmáért és jogszerűségéért teljes és objektív felelősséggel tartozik.</p>
			
			<h3>Tilalmak, korlátozások</h3>
			
			<p>A feltöltött hirdetésben nem lehet olyan tartalom, amelyek közzétételét jogszabály kizárja, vagy korlátozza, illetve amely jogszabályba (magatartási, vagy etikai előírásokba) ütközik, jogellenes vagy jóerkölcsbe ütközik, vagy ilyen magatartásra vonatkozó felhívást tartalmaz, vagy arra buzdít. A Társaság dönthet úgy, hogy bizonyos termékek, szolgáltatások meghirdetését nem engedélyezi, még akkor sem, ha azok kereskedelme vagy végzése Magyarországon nem minősül tiltott tevékenységnek.</p>
			
			<p>Az Apróhirdetés.com-on kifejezetten tiltott olyan termékek/szolgáltatások hirdetése, amelyek forgalmazása jogszabályba ütközik. Ilyen termék/szolgáltatás, többek között:</p>
			<ul>
				<li>veszélyes vegyi anyag, különösen bármilyen tűz-vagy robbanásveszélyes anyag</li>
				<li>gyógyszer, kábítószer, tudatmódosító anyag, vagy bármely, hasonló hatású szer</li>
				<li>alkohol, kivéve minőségi, egyedi vagy különleges gyűjtői szeszes ital</li>
				<li>lopott, vagy egyéb módon bűncselekményből származó, vagy jogellenesen forgalomba hozott termék</li>
				<li>hamis, vagy hamisított termék (pl. olyan márkajelzéssel ellátott termék, amely félrevezetheti a vevőket a termék vagy szolgáltatás eredetét, mennyiségét, minőségét, összetevőit, teljesítményét, használhatóságát, javítását, karbantartását, vagy más fontos jellemzőjét illetően, valamint tilos az ilyen adatokra vonatkozó információk visszatartása is)</li>
				<li>hamis márka- vagy eredetjelzés feltüntetését segítő termék</li>
				<li>olyan termék, amely önmagában, vagy a termék közzététele, hirdetése által bármilyen módon sérti valamely harmadik fél jogait, ideértve, nem kizárólagosan, a védjeggyel, szerzői joggal, szabadalommal, személyiségi vagy kegyeleti joggal való visszaélést</li>
				<li>szerzői jogvédelem alatt álló termék másolt, hamisított példánya, illetve minden olyan egyéb tevékenység, eszköz, szoftver, amely elősegíti vagy alkalmas a szerzői jog megsértésére</li>
				<li>emberi szerv, szövet</li>
				<li>fegyver, lőszer, robbanószer, pirotechnikai anyagok, eszközök (tűzijáték), ilyen termékek alkatrésze, alkotórésze, valamint közbiztonságra különösen veszélyes eszköz.</li>
				<li>értékpapír vagy bármely más olyan pénzügyi eszköz, amellyel befektetést vagy pénzkihelyezést lehet eszközölni, kivéve olyan egyértelműen beazonosítható értékpapír mely már követelést nem testesít meg, és amely kifejezetten gyűjtési céllal kerül meghirdetésre</li>
				<li>hitelkártya, bankkártya, vagy bármely más, nem átruházható készpénz-helyettesítő fizetési eszköz (pl. üdülési csekk), kivéve olyan egyértelműen beazonosítható termék, eszköz, amely fizetési funkcióval nem rendelkezik, és kifejezetten gyűjtési céllal kerül meghirdetésre</li>
				<li>kitöltetlen garancia-levél, igazolvány, bizonyítvány és érvényesítő címke- vagy matrica</li>
				<li>bármely olyan termék vagy szöveg, amely gyűlöletkeltésre, fajüldözésre, idegengyűlöletre vagy nemzetek és nemzetiségek közötti konfliktusra adhat okot</li>
				<li>egy, vagy több személy megrágalmazására vagy egyébként személyiségi jogainak megsértésére alkalmas termék, szöveg</li>
				<li>katonai vagy egyéb szervezet valaha rendszeresített egyenruhája, ruházati kiegészítője, tartozéka</li>
				<li>önkényuralmi rendszerekhez köthető tárgy, relikvia</li>
				<li>vírus, trójai program vagy más károkozó elemeket tartalmazó szoftver</li>
				<li>aktiváló kód, CD-kulcs, az eredeti szoftvertől különválasztott regisztrációs szám</li>
				<li>TV vagy rádió előfizetéshez kapcsolódó dekóder kártya és ilyen adások illegális dekódolásához felhasználható eszköz</li>
				<li>olyan weboldalak, FTP szerverek, vagy az azokra vezető út megjelölése, amelyek veszélyes, illegális vagy nem birtokolható anyagok létrehozását vagy az ilyen anyagokhoz való hozzáférést elősegítő információkat tartalmaznak</li>
				<li>online szolgáltatáshoz hozzáférést biztosító felhasználónév, jelszó</li>
				<li>személyes adatokat vagy e-mail címeket tartalmazó listák, valamint közösségi oldalak (pl. iWIW, myVIP, GMail, stb), e-mail szolgáltatások igénybe vételére jogosító meghívó</li>
				<li>minden fogadással vagy egyéb szerencsejátékkal kapcsolatos rendszer vagy annak használatához kötődő segítség felajánlása</li>
				<li>dohánytermékek, ideértve a feldolgozott és feldolgozatlan termékeket is</li>
				<li>olyan termék, amellyel az eladó a hirdetés feltöltése pillanatában nem rendelkezik</li>
				<li>szexuális szolgáltatás, segédeszköz; erotikus munka, erotikus film</li>
			</ul>
			
			<p>Tiltott továbbá olyan hirdetést közzétenni, vagy arra való hivatkozást tenni, amely a Társaság jóhírnevét, üzleti érdekeit, általános megítélését, így különösen termékeinek vagy szolgáltatásainak megítélését sértheti vagy veszélyezteti.</p>
			
			<p>A fentiek szerint nem megfelelőnek minősülő tartalom esetén a Társaság jogosult a Szolgáltatás nyújtását visszautasítani, vagy egyoldalúan, a Felhasználó előzetes figyelmeztetése nélkül eltávolítani a feltöltött hirdetést (tartalmat), illetve a Felhasználó hozzáférését korlátozni.</p>
			
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>