<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<div class="col-sm-3 col-md-2">
		
<#include "profil_menu.ftl.html"/>
				
			</div>
			<div class="col-sm-9 col-md-10">
			
				<h3>Beérkezett üzeneteim (${uzenetList?size})</h3>
					
				<#if uzenet?? >
				<div class="alert alert-success">${uzenet}</div>
				</#if>
				<#if hibaUzenet?? >
				<div class="alert alert-danger">${hibaUzenet}</div>
				</#if>
					
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Dátum</th>
						<th>Feladó</th>
						<th>Tárgy</th>
						<!-- th>Műveletek</th-->
					</tr>
					</thead>
					<tbody>
				<#list uzenetList as uzenet>
					<#if (uzenet.elolvasva) >
						<#assign strong_start = "" >
						<#assign strong_end = "" >
					<#else>
						<#assign strong_start = "<strong>" >
						<#assign strong_end = "</strong>" >
					</#if>
					<tr>
						<td>${strong_start}${uzenet.datum}${strong_end}</td>
						<td>${strong_start}${(uzenet.feladoEmail)!''}${strong_end}</td>
						<td>${strong_start}<a href="${app.contextRoot}/felhasznalo/uzenetek/${uzenet.id}">${uzenet.targy}</a>${strong_end}</td>
						<!-- td><a href="${app.contextRoot}/"><i class="fa fa-trash-o"></i> Törlés</a></td -->
					</tr>
				</#list>
					</tbody>
				</table>
			</div>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
