<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<h3>Hozzáférés megtagadva</h3>
			
			<div class="alert alert-danger">Ehhez az oldalhoz csak akkor férhetsz hozzá, ha bejelentkeztél.
			A <a href="${app.contextRoot}/belepes">bejelentkezéshez kattints ide</a>, 
			<a href="${app.contextRoot}/regisztracio">ide kattintva pedig regisztrálhatsz</a>.</div>
				
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
