<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
				<#if hirdetes?? >
					<div class="hirdetes-container">
						<div class="page-header">
							<h1>${hirdetes.cim} <small>${hirdetes.egyebMezok.tipusNev}</small></h1>
						</div>
						<h2><span class="label label-warning">${hirdetes.ar} Ft</span></h2>
						
						<h3>Apróhirdetés adatai</h3>
						<div><b>Helység: </b>${hirdetes.egyebMezok.helysegNev}</div>
						<div><b>Kategória: </b>${hirdetes.egyebMezok.kategoriaNev}</div>
						<div><b>Feladás időpontja: </b>${hirdetes.egyebMezok.feladvaSzoveg}</div>

						<br>
						<div class="panel panel-default">
							<div class="panel-body">${hirdetes.szoveg!""}</div>
							<#if hirdetes.egyebInfo?? && (hirdetes.egyebInfo?length>0) >
							<div class="panel-body">További információ: <a href="${hirdetes.egyebInfo}" target="_blank">${hirdetes.egyebInfo}</a></div>
							</#if>
							<#if hirdetes.attributumok??>
							<table class="table">
								<#assign keys = hirdetes.attributumok?keys>
								<#list keys as attributum>
								<tr>
									<td width="15%"><b>${attributum}</b></td>
									<td>${hirdetes.attributumok[attributum]}</td>
								</tr>
								</#list>
							</table>
							</#if>
						</div>
						
						<#if hirdetes.kepek?has_content >
							<div>
							<#list hirdetes.kepek as kep>
							<img src="${app.contextRoot}/static/images/${kep.fileNev}" height="300" alt="${hirdetes.cim?html}">
							</#list>
							</div>
						<#else>
							<div class="alert alert-warning">Sajnos a hirdető nem töltött fel képeket a hirdetéshez. :-(</div>
						</#if>
						
						<#if hirdetes.hirdeto??>
						<h3>Hirdető adatai</h3>
						<div>
							<span class="hirdetes-hirdeto-header">Hirdető: </span>
							<span>${hirdetes.hirdeto.nev!""}</span>
						</div>
						<div>
							<span class="hirdetes-hirdeto-header">Telefon: </span>
							<span>${hirdetes.hirdeto.telefon!""}</span>
						</div>
						<div>
							<span class="hirdetes-hirdeto-header">Email: </span>
							<span>${hirdetes.hirdeto.email!""}</span>
						</div>
						<div>
							<span class="hirdetes-hirdeto-header">Cím: </span>
							<span>${hirdetes.hirdeto.iranyitoSzam!""} ${hirdetes.hirdeto.telepules!""}, ${hirdetes.hirdeto.cim!""}</span>
						</div>
						</#if>
						
						<hr>
						<div>
							<ul class="social-links list-inline">
								<li><a class="facebook-link" href="#" onclick="FB.ui({method: 'share', href: 'https://developers.facebook.com/docs/',}, function(response){});" title="Megosztom a Facebookon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span><span class="text-hide">Megosztom a Facebookon</span></a></li>
								<!--  <li><a class="facebook-link" href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=https://www.aprohirdetes.com/hirdetes/${hirdetes.id}&redirect_uri=https://www.facebook.com/" name="fb_share" rel="nofollow" target="_blank" title="Megosztom a Facebookon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span><span class="text-hide">Megosztom a Facebookon</span></a></li> -->
								<li><a class="twitter-link" data-item-link="https://www.aprohirdetes.com/hirdetes/${hirdetes.id}" href="https://twitter.com/home?status=Ezt találtam az Apróhirdetés.com-on: https://www.aprohirdetes.com/hirdetes/${hirdetes.id}" rel="nofollow" target="_blank" title="Twittelem"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span><span class="text-hide">Twittelem</span></a></li>
								<li><a class="linkedin-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;source=aprohirdetes.com&amp;summary=${hirdetes.cim?html}&amp;title=${hirdetes.cim?html}&amp;url=http%3A%2F%2Fwww.aprohirdetes.com%2Fhirdetes%2F${hirdetes.id}" rel="nofollow" target="_blank" title="Megosztom a LinkedIn-en"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span><span class="text-hide">Megosztom a LinkedIn-en</span></a></li>
								<li><a class="google-link" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=https%3A%2F%2Fwww.aprohirdetes.com%2Fhirdetes%2F${hirdetes.id}" rel="nofollow" target="_blank" title="Share on Google+"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span><span class="text-hide">Megosztom a Google+-on</span></a></li>
								<!-- 
								<li>
								<span class="ajax-modal email anchor" data-modal-class="fixed-size-modal auto-height-modal" data-target-url="http://classifieds.justlanded.com/en/action/send_to_friend?item=Baume-fallen-oder-stutzen" title="Send to friend">
								<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
								</span>
								<span class="text-hide">Send to friend</span>
								</span>
								</li>
								 -->
								<li><a href="${app.contextRoot}/hirdetes/${hirdetes.id}/nyomtat" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-print fa-stack-1x fa-inverse"></i></span><span class="text-hide">Nyomtatás</span></a></li>
							</ul>
						</div>
						
						<hr>
						<div class="text-muted"><b>Megjelent eddig: </b>${hirdetes.megjelenes} alkalommal</div>
						<div class="text-muted"><b>Egyedi azonosító: </b>${hirdetes.id}</div>
						<div class="text-muted"><b>Lejárat dátuma: </b>${hirdetes.egyebMezok.lejaratSzoveg}</div>
						<div class="text-muted"><b>Utolsó módosítás: </b>${hirdetes.egyebMezok.modositvaSzoveg}</div>
					</div>
				<#else>
				<h1>Hoppá, gond van</h1>
				<div class="alert alert-danger">${hibaUzenet}</div>
				</#if>
				<br>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>