<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>${app.htmlTitle}</title>
	<meta name="description" content="${app.description!'Ingyenes apróhirdetések'}">
	<meta name="keywords" content="${app.keywords!'apróhirdetés apró hirdetés használt olcsó eladó keres kínál'}" />
	
	<link rel="stylesheet" href="${app.contextRoot}/css/apro.css"/>
	<link rel="stylesheet" href="${app.contextRoot}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="${app.contextRoot}/css/jquery.fileupload.css"></link>

	<script type="text/javascript">
		var appContext = '${app.contextRoot}';
		var p = ${page!1};
	</script>
	<script type="text/javascript" src="${app.contextRoot}/js/apro.js"></script> 
</head>
<body>
