	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="${app.contextRoot}/js/jquery-1.11.0.js"></script>
    <script src="${app.contextRoot}/js/bootstrap.min.js"></script>
	
	<script src="${app.contextRoot}/js/vendor/jquery.ui.widget.js"></script>
	<script src="${app.contextRoot}/js/jquery.iframe-transport.js"></script>
	<script src="${app.contextRoot}/js/jquery.fileupload.js"></script>
	
    <script type="text/javascript">
    // $('#hirdetesCim').tooltip();
    
	$(function () {
	    $('#fileupload').fileupload({
	        dataType: 'json',
	        limitMultiFileUploads: 6,
	        /*add: function (e, data) {
	        	$('#progress .bar').css('width', '0%');
	        },*/
	        done: function (e, data) {
	        	$.each(data.result.files, function (index, file) {
	               alert(file.name);
	            });
	        },
	    	progressall: function (e, data) {
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#progress .progress-bar').css(
		            'width',
		            progress + '%'
		        );
		    }
	    });
	});
    </script>
</body>
</html>