<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>${app.htmlTitle}</title>
	<meta name="description" content="Ingyenes apróhirdetések">
	<meta name="keywords" content="apróhirdetés" />
	
	<link rel="stylesheet" href="${app.contextRoot}/css/apro.css"/>
	<link rel="stylesheet" href="${app.contextRoot}/css/bootstrap.min.css"/>
	
	<script type="text/javascript">
		var appContext = '${app.contextRoot}';
	</script>
	<script type="text/javascript" src="${app.contextRoot}/js/apro.js"></script> 
</head>
<body>
