	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="${app.contextRoot}/js/jquery-1.11.0.js"></script>
    <script src="${app.contextRoot}/js/bootstrap.min.js"></script>
	
	<script src="${app.contextRoot}/js/vendor/jquery.ui.widget.js"></script>
	<script src="${app.contextRoot}/js/jquery.iframe-transport.js"></script>
	<script src="${app.contextRoot}/js/jquery.fileupload.js"></script>
	
    <script type="text/javascript">
    // $('#hirdetesCim').tooltip();
    
	$(function () {
	    $('#fileupload').fileupload({
	        dataType: 'json',
	        singleFileUploads: false,
	        /*add: function (e, data) {
	        	$('#progress .bar').css('width', '0%');
	        },*/
	        done: function (e, data) {
	        	$.each(data.result.files, function (index, file) {
	               $('#hirdetesKep' + file.sorszam).attr('src', file.url);
	               $('#uploadMessage').value = 'A kep sikeresen feltöltődött: ' + file.eredetiFileNev;
	            });
	        },
	    	progressall: function (e, data) {
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#progress .progress-bar').css(
		            'width',
		            progress + '%'
		        );
		    }
	    });
	});
	
	$('#signinEmail').keypress(function(event) {
        if (event.keyCode == 13) {
        	$('#signinPassword').focus();
        }
    });
	
	$('#signinPassword').keypress(function(event) {
        if (event.keyCode == 13) {
        	$('#belepesButton').click();
        }
    });
	
	$('#belepesButton').click(function(){
		var data = new Object();
		data.felhasznaloNev = $('#signinEmail').val();
		data.jelszo = $('#signinPassword').val();
		
		$.ajax({
	        type: "POST",
	        url: "${app.contextRoot}/api/v1/session/belepes",
	        data: JSON.stringify(data),
	        contentType: "application/json; charset=utf-8",
	        dataType: "json"
		}).done(function(data){
        	window.location.reload();
        }).fail(function(jqXHR, textStatus) {
            alert("Hibás felhasználónév vagy jelszó!");
        });
	});
	
	$('#belepesLink').on("click", function(){
		$('#belepesButton').click();
	});
	
	$('#kilepesLink').on("click", function(){
		var data = new Object();
		data.felhasznaloNev = '${(session.felhasznaloNev)!""}';
		
		$.ajax({
	        type: "POST",
	        url: "${app.contextRoot}/api/v1/session/kilepes",
	        data: JSON.stringify(data),
	        contentType: "application/json; charset=utf-8",
	        dataType: "json"
		}).done(function(data){
        	window.location.reload();
        }).fail(function(jqXHR, textStatus) {
            alert("Hiba történt a kilépés közben: " + textStatus);
        });
	});
    </script>
</body>
</html>