<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>${app.htmlTitle}</title>
	<meta name="description" content="${app.description!'Ingyenes apróhirdetések'}">
	<meta name="keywords" content="${app.keywords!'apróhirdetés apró hirdetés használt olcsó eladó keres kínál'}" />
	
	<link rel="stylesheet" href="${app.contextRoot}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="${app.contextRoot}/css/jquery.fileupload.css"></link>
	<link rel="stylesheet" href="${app.contextRoot}/css/apro.css"/>

	<script type="text/javascript">
		var appContext = '${app.contextRoot}';
		var p = ${aktualisOldal!1};
		var s = ${sorrend!0};
	</script>
	<script type="text/javascript" src="${app.contextRoot}/js/apro.js"></script> 
</head>
<body>
    <div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
