<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>${content}</title>
	<meta name="description" content="Ingyenes apróhirdetések">
	<meta name="keywords" content="apróhirdetés" />
	
	<link rel="stylesheet" href="css/apro.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
</head>
<body>
	<div class="container">
				<section id="banner_top">
					<div class="banner_border_out">
						<div class="banner_border_in">
						Banner
						</div>
					</div>
				</section>
				<div class="row placeholders">
					<div class="col-md-9 placeholder">
						<span class="glyphicon glyphicon-home"></span>
						<span class="header_link">www.aprohirdetes.com</span>
						<ul class="header-tabs tabs1">
							<li><a href="">Apró</a></li>
							<li><a href="">Ingatlan</a></li>
							<li><a href="">Jármű</a></li>
							<li><a href="">Állás</a></li>
						</ul>
					</div>
					<div class="col-md-3 placeholder">
						<ul class="header-tabs tabs2">
							<li><a href="">Belépés</a></li>
							<li><a href="">Regisztráció</a></li>
						</ul>
					</div>						
				</div>
				<div class="row placeholders">
					<div class="col-md-9 placeholder">
						<div class="header_logo"></div>
						<div class="header_date">2014. február 10. hétfő<br>Balázs</div>
					</div>
					<div class="col-md-3 placeholder">
						<form class="form-signin" role="form">
							<h2 class="form-signin-heading">&raquo; Bejelentkezés</h2>
							<div class="form-signin-placeholder placeholder">
								<label class="sr-only" for="signinEmail">Email cím</label>
								<input type="email" class="form-control input-sm" id="signinEmail" autofocus="" required="" placeholder="E-mail cím">
								<label class="sr-only" for="signinPassword">Email cím</label>
								<input type="password" class="form-control input-sm" id="signinPassword" required="" placeholder="Jelszó">
							</div>
						</form>
					</div>						
				</div>
				<!-- div class="row search_container">
					<div class="well">
						<div class="input-group">
							<input type="text" class="form-control" id="searchQuery" placeholder="Keresett kifejezés">
							<label class="sr-only" for="searchQuery">Keresett kifejezés</label>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Keresés</button>
							</span>
						</div>
					</div>
				</div -->
				<div class="search_container">
					<div class="well">
						<form class="form-inline" role="form">
							<div class="form-group" style="width: 60%;">
							  <label class="sr-only" for="exampleInputEmail2">Keresett kifejezés</label>
							  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Keresett kifejezés" style="width: 100%;">
							</div>
							<select class="form-control" style="width: 10%;">
								<option value="kinal">Kínál</option>
								<option value="keres">Keres</option>
							</select>
							<select class="form-control" style="width: 15%;">
								<#list helysegList as helyseg>
								<option value="1">${helyseg.nev}</option>
									<#list helyseg.alhelysegList as alhelyseg>
									<option value="1">&nbsp;&nbsp;${alhelyseg.nev}</option>
										<#list alhelyseg.alhelysegList as alalhelyseg>
										<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
										</#list>
									</#list>
								</#list>
							</select>
							<button type="submit" class="btn btn-default">Keresés</button>
						</form>
					</div>
				</div>
				<div class="row category_container">
					<#list kategoriaList as kategoria>
					<ul class="category-main">
						<li><a href="">${kategoria.nev}</a></li>
						<ul class="category-sub">
						<#list kategoria.alkategoriak as alkategoria>
							<li><a href="">${alkategoria.nev}</a></li>
						</#list>
						</ul>
					</ul>
					</#list>
				</div>
				<div class="row footer_container">
					<div class="footer_links1"><a href="">Rólunk</a> | <a href="">Kapcsolat</a> | <a href="">Adatvédelmi irányelvek</a></div>
					<div class="footer_links2"><a href="">hirdetés feladás</a> </div>
				</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>