<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row category_container">
			<#list kategoriaList as kategoria>
			<ul class="category-main">
				<li><a href="javascript:setKategoria('${kategoria.urlNev}');">${kategoria.nev} <span class="badge">${kategoria.hirdetesekSzama!0}</span></a></li>
				<ul class="category-sub">
				<#list kategoria.alkategoriaList as alkategoria>
					<li><a href="javascript:setKategoria('${alkategoria.urlNev}');">${alkategoria.nev} <span class="badge pull-right">${alkategoria.hirdetesekSzama!0}</span></a></li>
				</#list>
				</ul>
			</ul>
			</#list>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>