<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row">
			<h2>Kapcsolat</h2>
			<p>Az Apróhirdetés.com szolgáltatást a ZURIEL Kft működteti. A ZURIEL Kft-ről a <a href="http://www.zuriel.hu/" target="_blank">www.zuriel.hu</a> weboldalon találsz bővebb információt.</p>
			
			<h2>Ügyfélszolgálat</h2>
			<p>Bármilyen problémával ill. kérdéssel fordulj nyugodtan ügyfélszolgálatunkhoz az info@aprohirdetes.com e-mail címen.</p>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>