<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>${siteName}</title>
	<meta name="description" content="Ingyenes apróhirdetések">
	<meta name="keywords" content="apróhirdetés" />
	
	<link rel="stylesheet" href="${appContext}/css/apro.css"/>
	<link rel="stylesheet" href="${appContext}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
	<script type="text/javascript">
	function submitKereses(tipus, helyseg, kategoria) {
		document.forms.KeresesForm.action = '${appContext}/kereses/' + tipus + '/' + helyseg + '/' + kategoria + '/';
		document.forms.KeresesForm.submit();
	}
	</script>
</head>
<body>
	<div class="container">
				<section id="banner_top">
					<div class="banner_border_out">
						<div class="banner_border_in">
						Banner
						</div>
					</div>
				</section>
				<div id="header_tabs_container" class="row placeholders">
					<div class="col-md-9 placeholder">
						<span class="glyphicon glyphicon-home"></span>
						<span class="header_link">www.aprohirdetes.com</span>
						<ul class="header-tabs tabs1">
							<li><a href="">Apró</a></li>
							<li><a href="">Ingatlan</a></li>
							<li><a href="">Jármű</a></li>
							<li><a href="">Állás</a></li>
						</ul>
					</div>
					<div class="col-md-3 placeholder">
						<ul class="header-tabs tabs2">
							<li><a href="">Belépés</a></li>
							<li><a href="">Regisztráció</a></li>
						</ul>
					</div>						
				</div>
				<div class="row placeholders">
					<div id="header_container" class="col-md-9 placeholder">
						<div class="header_date">${currentDate}<br>Balázs</div>
						<div class="header_text">Hirdessen az Apróhirdetés.com-on könnyen, gyorsan, ingyen, kötelező regisztráció nélkül!</div>
					</div>
					<div class="col-md-3 placeholder">
						<form class="form-signin" role="form">
							<h2 class="form-signin-heading">&raquo; Bejelentkezés</h2>
							<div class="form-signin-placeholder placeholder">
								<label class="sr-only" for="signinEmail">Email cím</label>
								<input type="email" class="form-control input-sm" id="signinEmail" autofocus="" required="" placeholder="E-mail cím">
								<label class="sr-only" for="signinPassword">Email cím</label>
								<input type="password" class="form-control input-sm" id="signinPassword" required="" placeholder="Jelszó">
							</div>
						</form>
					</div>						
				</div>
				<div class="row search_container" ng-controller="SearchCtrl">
					<div class="well">
						<form class="form-inline" role="form" method="get" ng-submit="_submitKereses()" id="KeresesForm" onSubmit="submitKereses(this.hirdetesTipus.value, this.hirdetesHelyseg.value, this.hirdetesKategoria.value)">
							<div class="form-group" style="width: 45%;">
							  <label class="sr-only" for="searchQuery">Keresett kifejezés</label>
							  <input type="search" class="form-control" id="searchQuery" name="q" value="${q}" placeholder="Keresett kifejezés" style="width: 100%;" ng-model="hirdetesKulcsszo">
							</div>
							<select class="form-control" style="width: 10%;" ng-model="hirdetesTipus" id="hirdetesTipus">
								<option value="kinal" selected>Kínál</option>
								<option value="keres">Keres</option>
							</select>
							<select class="form-control" style="width: 15%;" ng-model="hirdetesHelyseg" id="hirdetesHelyseg">
								<#list helysegList as helyseg>
								<option value="${helyseg.urlNev}">${helyseg.nev}</option>
									<#list helyseg.alhelysegList as alhelyseg>
									<option value="${alhelyseg.urlNev}">&nbsp;&nbsp;${alhelyseg.nev}</option>
										<#list alhelyseg.alhelysegList as alalhelyseg>
										<option value="${alalhelyseg.urlNev}">&nbsp;&nbsp;&nbsp;&nbsp;${alalhelyseg.nev}</option>
										</#list>
									</#list>
								</#list>
							</select>
							<select class="form-control" style="width: 15%;" ng-model="hirdetesKategoria" id="hirdetesKategoria">
								<#list kategoriaList as kategoria>
								<option value="${kategoria.urlNev}">${kategoria.nev}</option>
									<#list kategoria.alkategoriaList as alkategoria>
									<option value="${alkategoria.urlNev}">&nbsp;&nbsp;${alkategoria.nev}</option>
									</#list>
								</#list>
							</select>
							<button type="submit" class="btn btn-default" style="width: 10%;">Keresés</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="hirdeteslista-container">
						<span>${hirdetesek_szama} hirdetés</span>
						<span>${page}. oldal</span>
					</div>
				</div>
				<div class="row">
					<#list hirdetesList as hirdetes>
					<div class="hirdetes-container">
						<div class="hirdetes-header">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-cim">${hirdetes.cim} (${hirdetes.egyebMezok.tipusNev})</td>
									<td class="hirdetes-kategoria">Kategoria</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-body">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-szoveg">{hirdetes.szoveg}</td>
									<td class="hirdetes-mezok">Attributumok</td>
									<td class="hirdetes-kepek" rowspan="2">Kepek</td>
								</tr>
								<tr>
									<td class="hirdetes-hirdeto" colspan="2">Hirdeto adatai</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-footer">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-muveletek">Muveletek</td>
									<td class="hirdetes-ar">${hirdetes.ar} Ft</td>
								</tr>
							</table>
						</div>
					</div>
					</#list>
				</div>
				<div class="row">
					<div>
						<ul class="pager">
							<li class="previous"><a href="">&larr; Előző</a></li>
							<li class="next"><a href="">Következő &rarr;</a></li>
						</ul>
					</div>
				</div>
				<div class="row footer_container">
					<div class="footer_links1"></div>
					<div class="footer_links2"><a href="">Rólunk</a> | <a href="">Kapcsolat</a> | <a href="">Adatvédelmi irányelvek</a></div>
					<div class="footer_links3">Hosting: <a href="http://www.zuriel.net/" target="_blank">ZURIEL.net</a></div>
					<div class="footer_links4"><a href="">hirdetés feladás</a> </div>	
				</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="${appContext}/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>