<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
				<div class="row">
					<div class="hirdeteslista-container">
						<span>${hirdetesek_szama} hirdetés</span>
						<span>${page}. oldal</span>
					</div>
				</div>
				<div class="row">
					<#list hirdetesList as hirdetes>
					<div class="hirdetes-container">
						<div class="hirdetes-header">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-cim">${hirdetes.cim} (${hirdetes.egyebMezok.tipusNev}) <span>- ${hirdetes.egyebMezok.feladvaSzoveg}</span></td>
									<td class="hirdetes-kategoria">${hirdetes.egyebMezok.kategoriaNev}
									| ${hirdetes.egyebMezok.helysegNev}</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-body">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-szoveg">${hirdetes.szoveg!""}</td>
									<td class="hirdetes-mezok">
										<#if hirdetes.attributumok??>
										
										</#if>
									</td>
									<td class="hirdetes-kepek" rowspan="2">
										<#if hirdetes.kepek??>
										
										</#if>
									</td>
								</tr>
								<tr>
									<td class="hirdetes-hirdeto" colspan="2">
										<#if hirdetes.hirdeto??>
										<div>
											<span class="hirdetes-hirdeto-header">hirdető: </span>
											<span>${hirdetes.hirdeto.nev!""}</span>
										</div>
										</#if>
									</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-footer">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-muveletek">Muveletek</td>
									<td class="hirdetes-ar">${hirdetes.ar} Ft</td>
								</tr>
							</table>
						</div>
					</div>
					</#list>
				</div>
				<div class="row">
					<div>
						<ul class="pager">
							<li class="previous"><a href="javascript:prevPage();">&larr; Előző</a></li>
							<li class="next"><a href="javascript:nextPage();">Következő &rarr;</a></li>
						</ul>
					</div>
				</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>