<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
				<div class="row">
					<div class="hirdeteslista-header">
						<span>${hirdetesek_szama} hirdetés</span>
						<span>${page}. oldal</span>
					</div>
				</div>
				<div class="row">
					<#list hirdetesList as hirdetes>
					<div class="hirdeteslista-container">
						<div class="hirdetes-header">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-cim">${hirdetes.cim} (${hirdetes.egyebMezok.tipusNev}) <span>- ${hirdetes.egyebMezok.feladvaSzoveg}</span></td>
									<td class="hirdetes-kategoria">${hirdetes.egyebMezok.kategoriaNev}
									| ${hirdetes.egyebMezok.helysegNev}</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-body">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-szoveg">${hirdetes.szoveg!""}</td>
									<td class="hirdetes-mezok">
										<#if hirdetes.attributumok??>
										
										</#if>
									</td>
									<td class="hirdetes-kepek" rowspan="2" width="300">
										<#if hirdetes.kepek?has_content >
											<#assign i=1 >
												<div id="carousel-${hirdetes.id}" class="carousel slide" data-ride="carousel" data-interval="false" style="width: 300px; height: 200px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-${hirdetes.id}" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-${hirdetes.id}" data-slide-to="1"></li>
    <li data-target="#carousel-${hirdetes.id}" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
											<#list hirdetes.kepek as kep>
												<#if i==1 >
    <div class="item active">
    											<#else>
    <div class="item">
    											</#if>
    											<#assign i=i+1>
      <img src="${app.contextRoot}/static/images/${kep.fileNev}" height="140">
    </div>
											</#list>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-${hirdetes.id}" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-${hirdetes.id}" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
										</#if>
									</td>
								</tr>
								<tr>
									<td class="hirdetes-hirdeto" colspan="2">
										<#if hirdetes.hirdeto??>
										<div>
											<span class="hirdetes-hirdeto-header">hirdető: </span>
											<span>${hirdetes.hirdeto.nev!""}</span>
										</div>
										</#if>
									</td>
								</tr>
							</table>
						</div>
						<div class="hirdetes-footer">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="hirdetes-muveletek"><span>Műveletek: </span>
									Mutasd <a href="">itt</a>,
									<a href="${app.contextRoot}/hirdetes/${hirdetes.id}/${hirdetes.cim}">külön oldalon</a>,
									<a href="${app.contextRoot}/hirdetes/${hirdetes.id}/${hirdetes.cim}" target="_blank">új ablakban</a> </td>
									<td class="hirdetes-ar">${hirdetes.ar} Ft</td>
								</tr>
							</table>
						</div>
					</div>
					</#list>
				</div>
				<div class="row">
					<div>
						<ul class="pager">
							<li class="previous"><a href="javascript:prevPage();">&larr; Előző</a></li>
							<li class="next"><a href="javascript:nextPage();">Következő &rarr;</a></li>
						</ul>
					</div>
				</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
