<#if (hirdetesTipus!1)==1>
	<#assign hirdetesTipusNev='keres'>
<#else>
	<#assign hirdetesTipusNev='kinal'>
</#if>
		<div id="header_tabs_container" class="row">
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="header_link"><a href="${app.contextRoot}/"><img src="${app.contextRoot}/images/header_logo.png" alt="Apróhirdetés.com - Ingyenes apróhirdető oldal"></a></div>
			</div>
			<div class="hidden-xs hidden-sm col-md-5 placeholder">
				<ul class="header-tabs tabs1">
					<li class="${aproTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/">Apró</a></li>
					<li class="${ingatlanTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/ingatlan/">Ingatlan</a></li>
					<li class="${jarmuTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/jarmu/">Jármű</a></li>
					<li class="${allasTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/allas/">Állás</a></li>
				</ul>
			</div>
			<div class="hidden-xs col-sm-4 col-md-2 placeholder">
				<ul class="header-tabs tabs1">
					<li class="feladas-tab"><a href="${app.contextRoot}/feladas">Hirdetés feladása</a></li>
				</ul>
			</div>
			<div class="hidden-xs col-sm-4 col-md-3 placeholder">
				<ul class="header-tabs tabs2">
					<#if session?? >
					<li><a href="${app.contextRoot}/felhasznalo/hirdetesek">Adatlap</a></li>
					<li><a href="${app.contextRoot}/kilepes">Kilépés</a></li>
					<#else>
					<li><a href="${app.contextRoot}/belepes">Belépés</a></li>
					<li><a href="${app.contextRoot}/regisztracio">Regisztráció</a></li>
					</#if>
				</ul>
			</div>
			<div class="col-xs-6 hidden-sm hidden-md hidden-lg">
				<ul class="header-tabs tabs2">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menü <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
							<li class="${aproTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/">Apró</a></li>
							<li class="${ingatlanTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/ingatlan/">Ingatlan</a></li>
							<li class="${jarmuTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/jarmu/">Jármű</a></li>
							<li class="${allasTabClass!''}"><a href="${app.contextRoot}/kereses/${hirdetesTipusNev}/osszes-helyseg/allas/">Állás</a></li>
							<li class="divider"></li>
							<li class="feladas-tab"><a href="${app.contextRoot}/feladas">Hirdetés feladása</a></li>
							<li class="divider"></li>
							<#if session?? >
							<li><a href="${app.contextRoot}/felhasznalo/hirdetesek">Adatlap</a></li>
							<li><a href="${app.contextRoot}/kilepes">Kilépés</a></li>
							<#else>
							<li><a href="${app.contextRoot}/belepes">Belépés</a></li>
							<li><a href="${app.contextRoot}/regisztracio">Regisztráció</a></li>
							</#if>
							<li><a href="${app.contextRoot}/sugo">Súgó</a></li>
							<li><a href="${app.contextRoot}/kapcsolat">Kapcsolat</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row apro-bg ${headerBgClass!''}">
			<span class="header_date">${app.datum}</span>
			<span class="header_alkat hidden-xs">${alkategoriaLinkek!''}</span>
			<#if session?? >
			<span class="header_user">${(session.felhasznaloNev)!''} (${(session.felhasznaloEmail)!''})
			| <a href="${app.contextRoot}/felhasznalo/kedvencek" title="Kedvenc hirdetéseim"><i class="fa fa-heart"></i></a></span>
			</#if>
		</div>
		