		<div class="row footer_container">
			<div class="hidden-xs footer_links2">
				<a href="${app.contextRoot}/sugo">Súgó</a>
				<span class="hidden-sm">| <a href="${app.contextRoot}/feladas">Ingyenes hirdetésfeladás</a></span>
				| <a href="${app.contextRoot}/kapcsolat">Kapcsolat</a> 
				| <a href="${app.contextRoot}/feltetelek">Felhasználási feltételek</a>
				| <a href="${app.contextRoot}/adatkezeles">Adatkezelési szabályzat</a>
				<span class="hidden-sm">| <a href="https://plus.google.com/104307907644049374895" target="_blank" rel="publisher">Google+</a></span>
				<span class="hidden-sm">| <a href="https://www.facebook.com/Aprohirdetespontcom" target="_blank">Facebook</a></span>
				| <span class="small">verzió ${(app.version)!''}</span>
			</div>
			<div class="hidden-xs footer_links3">
				Hosting: <a href="http://www.zuriel.net/" target="_blank">ZURIEL.net</a>
			</div>
		</div>