		<div class="row footer_container">
			<div class="footer_links1"></div>
			<div class="footer_links2"><a href="${app.contextRoot}/kapcsolat">Kapcsolat</a> 
			| <a href="${app.contextRoot}/adatkezeles">Adatkezelési szabályzat</a>
			| <a href="https://plus.google.com/104307907644049374895" rel="publisher">Google+</a></div>
			<div class="footer_links3">Hosting: <a href="http://www.zuriel.net/" target="_blank">ZURIEL.net</a></div>
			<div class="footer_links4"><a href="${app.contextRoot}/feladas">Ingyenes hirdetésfeladás</a>
			| <a href="${app.contextRoot}/sugo">súgó</a> 
			| <span class="small">verzió ${(app.version)!''}</span> </div>	
		</div>
