		<div class="row footer_container">
			<div class="footer_links1">
				<button type="button" class="btn btn-xs btn-google-plus" onclick="window.location='https://plus.google.com/+Aprohirdetespontcom/about'"><i class="fa fa-google-plus"></i>| Google+</button>
				<button type="button" class="btn btn-xs btn-facebook" onclick="window.location='https://www.facebook.com/Aprohirdetespontcom'"><i class="fa fa-facebook"></i> | Facebook</button>
			</div>
			<div class="footer_links2"><a href="${app.contextRoot}/kapcsolat">Kapcsolat</a> 
				| <a href="${app.contextRoot}/feltetelek">Felhasználási feltételek</a>
				| <a href="${app.contextRoot}/adatkezeles">Adatkezelési szabályzat</a>
				| <a href="https://plus.google.com/104307907644049374895" rel="publisher">Google+</a>
			</div>
			<div class="footer_links3">
				Hosting: <a href="http://www.zuriel.net/" target="_blank">ZURIEL.net</a>
			</div>
			<div class="footer_links4"><a href="${app.contextRoot}/feladas">Ingyenes hirdetésfeladás</a>
				| <a href="${app.contextRoot}/sugo">súgó</a> 
				| <span class="small">verzió ${(app.version)!''}</span>
			</div>	
		</div>
