		
				<div class="panel panel-default" style="top: 30px;">
					<div class="panel-heading">Felhasználói menü</div>

					<ul class="list-group">
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/profil">Profil</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/hirdetesek">Hirdetéseim</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/feladas">Hirdetésfeladás</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/kilepes">Kilépés</a></li>
					</ul>
				</div>
				
