		
				<div class="panel panel-default" style="top: 30px;">
					<div class="panel-heading"><b>Felhasználói menü</b></div>

					<ul class="list-group">
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/adatlap">Adatlap</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/hirdetesek">Hirdetéseim</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/feladas">Hirdetésfeladás</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/beallitasok">Beállítások</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/felhasznalo/uzenetek">Üzeneteim</a></li>
						<li class="list-group-item"><a href="${app.contextRoot}/kilepes">Kilépés</a></li>
					</ul>
				</div>
				
