<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<form class="form-horizontal" role="form" method="post">
			<h3>Regisztráció</h3>
				
				<#if hibaUzenet?? >
				<div class="alert alert-danger">${hibaUzenet}</div>
				</#if>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoNev">Név</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoNev" name="hirdetoNev">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoEmail">Email cím</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" id="hirdetoEmail" name="hirdetoEmail" placeholder="@" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelefon">Telefonszám</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="hirdetoTelefon" name="hirdetoTelefon" placeholder="+36-xx-xxxxxxx">
						<span class="help-block">Telefonszám formátuma: +36-99-1234567</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoIranyitoSzam">Irányítószám</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="hirdetoIranyitoSzam" name="hirdetoIranyitoSzam">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoTelepules">Település</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="hirdetoTelepules" name="hirdetoTelepules">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoCim">Cím</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="hirdetoCim" name="hirdetoCim">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo">Jelszó</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo" name="hirdetoJelszo" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="hirdetoJelszo2">Jelszó újból</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="hirdetoJelszo2" name="hirdetoJelszo2" required="">
					</div>
				</div>
				
				<div class="form-group">
					<div class="checkbox col-sm-7 col-sm-offset-3">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" name="hirdetoHirlevel"> Hírlevél
							</label>
						</div>
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-sm-offset-3 colsm-7">
						<button type="submit" class="btn btn-success btn-lg">Regisztrálok</button>
					</div>
				</div>
			</form>
		
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>
