<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
		<div class="row">
			<h3>Sikeres regisztráció</h3>
			
			<p>Köszönjük, hogy regisztráltál az Apróhirdetés.com-on!</p>
			<p>A biztonság kedvéért a megadott email címre küldtünk egy levelet, amiben van egy
			hitelesítő link. Mielőtt használatba veszed új fiókod, 
			kérjük, a levélben lévő linkre kattintva erősítsd meg regisztrációdat!</p>
			<p>Sikeres kereskedést kívánunk!</p>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>