<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row">
			<h2>Az Apróhirdetés.com</h2>
		</div>
		
		<div class="row">
			<div class="col-sm-5"><h2 class="rolunk">Tartalmas</h2></div>
			<div class="col-sm-5">
			<p class="rolunk">Az Apróhirdetés.com egy apróhirdető oldal, ahol könnyen tudsz eladni, venni, kiadni vagy bérelni 
számtalan dolgot az apróságoktól a járműveken át az ingatlanokig. Továbbá számos álláshirdetés 
között keresgélhetsz.</p>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
			<p class="rolunk-left">Az Apróhirdetés.com minden szolgáltatása teljesen ingyenes. Nincs apró betű, nincs rejtett költség.
Minden 0 Ft.</p>
			</div>
			<div class="col-sm-5"><h2 class="rolunk-right">Ingyenes</h2></div>
		</div>
		<br/>
		
		<div class="row">
			<div class="col-sm-5"><h2 class="rolunk">Biztonságos</h2></div>
			<div class="col-sm-5">
			<p class="rolunk">Az Apróhirdetés.com ügyel a biztonságra. Minden adatforgalom titkosított csatornán történik.</p>
			</div>
		</div>
		<br/>
		
		<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
			<p class="rolunk-left">Az Apróhirdetes.com sok kategoriához egyedi attributumokat rendel, amiket a kereséskor szűkítéshez
használhatsz. Segítségükkel kiválaszthatod a kedvenc márkádat, színedet, az árat, ami megfelel 
igényeidnek, a helyet, amit könnyen elérsz.</p>
			</div>
			<div class="col-sm-5"><h2 class="rolunk-right">Könnyen kereshető</h2></div>
		</div>
		<br/>
		
		<div class="row">
			<div class="col-sm-5"><h2 class="rolunk">Illeszthető</h2></div>
			<div class="col-sm-5">
			<p class="rolunk">Töltsd fel termékeidet az Apróhirdetés.com-ra egy gombnyomással!
Az AproAPI minden fejlesztő barátja. Segítségével automatizálhatod a hirdetéseid kezelését, 
illesztheted saját nyilvántartó szoftveredhez.</p>
			</div>
		</div>
		<br/>

<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>