<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row">
			<h2>Súgó</h2>
			<h3>Tartalom</h3>
			<ul>
				<li><a href="#araink">Áraink</a></li>
				<li>Keresés
				<ul>
					<li><a href="#rss">RSS</a></li>
				</ul>
				</li>
			</ul>
			
			<a name="araink"></a>
			<h3>Áraink</h3>
			<p>Az Apróhirdetés.com alapszolgáltatása ingyenes. Magán jellegű és üzleti apróhirdetések feladása is teljesen díjmentes.</p>
			
			<h3>Keresés</h3>
			
			<a name="rss"></a>
			<h4>RSS</h4>
			<p>Az RSS-hírcsoportokon keresztül folyamatosan, s szinte azonnal értesülhetsz arról, ha kedvenc kategóriádban új hirdetés jelenik meg!<br>
			Minden kereséskor az eredménylista tetején megjelenik egy kis RSS ikon <img src="${app.contextRoot}/images/rss.png" width="16" height="16">.<br>
			Az RSS használatával elkerülhető, hogy oldalunkat naponta többször is végig kelljen nézni, hiszen az újonnan felkerült hirdetések 
			megjelenéséről az RSS-olvasó programon keresztül értesülünk, mely szinte azonnal jelez, ha a megadott kategóriába új 
			hirdetés érkezik.</p>
			<p><b>Hogyan iratkozhatsz fel?</b> Egyszerű! A kis RSS ikonra kattintva, a felnyíló ablakban Kattints a Feliratkozás gombra!</p>
			<p>További információk: <a href="http://hu.wikipedia.org/wiki/RSS" target="_blank">A Wikipedia szócikke az RSS technológiáról itt olvasható.</a></p>
			
			<p>&nbsp;</p>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>