<#include "html_header.ftl.html"/>
	<div class="container">
<#include "page_header_banner.ftl.html"/>
<#include "page_header.ftl.html"/>
<#include "container_search_form.ftl.html"/>
		<div class="row">
			<h2>Súgó</h2>
			<h3>Tartalom</h3>
			<ul>
				<li><a href="#araink">Áraink</a></li>
			</ul>
			
			<a name="araink"></a>
			<h3>Áraink</h3>
			<p>Az Apróhirdetés.com alapszolgáltatása ingyenes. Magán jellegű és üzleti apróhirdetések feladása is teljesen díjmentes.</p>
		</div>
<#include "page_footer.ftl.html"/>
	</div>
<#include "html_footer.ftl.html"/>