# Aprohirdetes.com Server configuration
DB.MONGO.HOST = localhost
DB.MONGO.PORT = 27017
DB.MONGO.DB = aprocom

WORKDIR = /home/bvamos/temp/aprohirdetes.com
URLBASE = http://local.aprohirdetes.com

SEARCH.DEFAULT_PAGESIZE = 20

MAIL.FROM = info@aprohirdetes.com
MAIL.SMTP.HOST = smtp.gmail.com
MAIL.SMTP.PORT = 587
MAIL.USER = bsomav@gmail.com
MAIL.PASSWORD = -VmsBlzs01

VERSION = @version@