# Aprohirdetes.com Server configuration
DB.MONGO.HOST = localhost
DB.MONGO.PORT = 27017
DB.MONGO.DB = aprocom

WORKDIR = /opt/aprohirdetes.com

SEARCH.DEFAULT_PAGESIZE = 20

MAIL.FROM = info@aprohirdetes.com
MAIL.SMTP.HOST = localhost
MAIL.USER =
MAIL.PASSWORD = 

VERSION = @version@