div.placeholder {
	padding: 0;
}

#banner_top {
	margin-bottom: 10px;
}

div.banner_border_out {
	background-color: #f2f2f2;
	border-bottom: 1px solid #c0c0c0;
	padding: 10px;
}

div.banner_border_in {
	background-color: #d5d5d5;
	border: 1px solid #b5b5b5;
	min-height: 60px; 
}

header {
	margin-top: 10px;
}

ul.header-tabs {
	list-style: none outside none;
	display: table;
	margin: 0;
	padding: 0;
	float: right;
	z-index: 10001;
}

ul.header-tabs>li {
	float: left;
	padding-left: 2px;
}

ul.header-tabs>li>a {
	position: relative;
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px #202020;
	font-stretch: condensed;
}

ul.tabs1>li>a {
	background-color: #a7a7a7;
}

ul.tabs2>li>a {
	background-color: #bfbfbf;
}

div.header_logo {
	height: 143px;
	background-image: url("../images/header_background.png");
	background-repeat: no-repeat;
	z-index: 10000;
	padding-top: 15px;
	margin-top: -15px;
}

div.header_date {
	position: absolute;
	bottom: 0;
	float: right;
}

form.form-signin {
	background-color: #ee8301;
	color: #fff;
	margin: 2px 0 0 2px;
	height: 126px;
}

form.form-signin>h2 {
	background-color: #e36703;
	color: #fff;
	font-stretch: condensed;
	font-size: 18px;
	font-shadow: 1px 1px #934d08;
	padding: 6px;
	margin: 0;
}

div.form-signin-placeholder {
	padding: 6px;
}

div.form-signin-placeholder>input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.form-signin-placeholder>input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

div.search_container {
	padding: 20px 0 20px 0;
}

div.search_container>div.well {
	margin: 0;
}

div.footer_container {
	background-image: url("../images/footer_background.png");
	background-repeat: no-repeat;
	height: 61px;
}

div.footer_links1 {
	float: right;
}

div.footer_links2 {
	color: #fff;
	margin: 40px 0 0 10px;
}

div.footer_links2>a {
	color: #fff;
	text-decoration: none;
}