div.placeholder {
	padding: 0;
}

#banner_top {
	margin-bottom: 10px;
	display: none;
}

div.banner_border_out {
	background-color: #f2f2f2;
	border-bottom: 1px solid #c0c0c0;
	padding: 10px;
}

div.banner_border_in {
	background-color: #d5d5d5;
	border: 1px solid #b5b5b5;
	min-height: 60px; 
}

#header_tabs_container {
	margin-top: 10px;
}

ul.header-tabs {
	list-style: none outside none;
	display: table;
	margin: 0;
	padding: 0;
	float: right;
	z-index: 10001;
}

ul.header-tabs>li {
	float: left;
	padding-left: 2px;
}

ul.header-tabs>li>a {
	position: relative;
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px #202020;
	font-stretch: condensed;
	cursor: pointer;
}

ul.tabs1>li>a {
	background-color: #a7a7a7;
}

ul.tabs1>li.feladas-tab>a {
	background: linear-gradient(#5097d9, #6cb8ff);
}

ul.tabs2>li>a {
	background-color: #bfbfbf;
}

#header_container {
	height: 143px;
	background-image: url("../images/header_background.png");
	background-repeat: no-repeat;
	z-index: 10000;
	padding-top: 15px;
	margin-top: -15px;
}

div.header_date {
	font-size: 12px;
	width: 170px;
	margin-top: 90px;
	text-align: right;
	color: #7e7e7e;
	float: left;
	clear: both;
}

div.header_text {
	color: #fff;
	float: right;
	width: 300px;
	margin-top: 20px;
	font-weight: bold;
}

#header-share {
	float: right;
	bottom: 0;
	clear: both;
}

div.form-signin {
	background-color: #ee8301;
	color: #fff;
	margin: 2px 0 0 2px;
	height: 124px;
}

h2.form-signin-heading {
	background-color: #e36703;
	color: #fff;
	font-stretch: condensed;
	font-size: 18px;
	font-shadow: 1px 1px #934d08;
	padding: 6px;
	margin: 0;
}

div.form-signin-placeholder {
	padding: 6px;
	display: block;
	float: left;
	width: 70%;
}

div.form-signin-placeholder>input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.form-signin-placeholder>input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

div.form-signin-button {
	width: 20%;
	height: 90px;
	display: block;
	float: left;
}

div.form-signin-button button {
	margin-top: 20px;
	margin-left: 5px;
}

div.search_container {
	padding: 20px 0 20px 0;
}

div.search_container>div.well {
	margin: 0;
}

div.footer_container {
	background-image: url("../images/footer_background.png");
	background-repeat: no-repeat;
	height: 61px;
	margin-bottom: 10px;
}

div.footer_links1 {
	float: left;
}

div.footer_links2 {
	margin-top: 0px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

div.footer_links3 {
	height: 20px;
	float: right;
	clear: right;
	margin-top: 21px;
	padding: 0 5px 0 5px;
	border-radius: 5px 0 0 0;
	background-color: #fff;
}

div.footer_links3>a {
	text-decoration: none;
}

div.footer_links4 {
	margin-top: 21px;
	height: 20px;
	float: left;
	padding-left: 10px;
}

div.footer_links4>a {
	text-decoration: none;
	color: #fff;
}

div.category_container {
	background-image: url("../images/subcategory_background.png");
	margin-bottom: 20px;
	border-radius: 0px;
}

ul.category-main {
	display: inline-table;
	list-style: none outside none;
	padding: 0;
	margin: 5px;
	min-width: 180px;
}

ul.category-main>li {
	background-color: #5095da;
	background: linear-gradient(#5097d9, #6cb8ff);
	border-left: 4px solid #4b81bf;
	padding: 5px;
}

ul.category-main>li>a {
	text-transform: uppercase;
	text-shadow: 1px 2px #3e7bbc;
	font-stretch: condensed;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	width: 100%;
}

ul.category-sub {
	list-style: none outside none;
	/*background-image: url("../images/subcategory_background.png");*/	
	margin: 0;
	padding: 1px 0 0 10px;
}

ul.category-sub>li>a {
	color: #5f5f5f;
	text-decoration: none;
}

div.hirdeteslista-header {
	background-color: #d5d5d5;
	border-left: 5px solid #ababab;
	padding: 10px;
	margin-bottom: 10px;
}

div.hirdeteslista-container {
	
}

div.hirdeteslista-container div.hirdetes-header {
	background-color: #ccc;
	padding: 5px;
}

div.hirdeteslista-container div.hirdetes-body {
	background-color: #f9f9f9;
}

div.hirdeteslista-container>div.hirdetes-footer {
	background: url("../images/subcategory_background.png");
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 5px;
}

div.hirdeteslista-container .hirdetes-cim {
	font-weight: bold;
	color: #000;
}

div.hirdeteslista-container .hirdetes-cim>span {
	font-weight: normal;
}

div.hirdeteslista-container .hirdetes-cim>a {
	color: #000;
}

div.hirdeteslista-container .hirdetes-kategoria {
	color: #fff;
	text-align: right;
}

div.hirdeteslista-container .hirdetes-szoveg {
	padding: 10px;
	vertical-align: top;
}

div.hirdeteslista-container .hirdetes-mezok {
	
}

div.hirdeteslista-container .hirdetes-kepek {
	background: url("../images/subcategory_background.png");
	padding: 10px;
}

div.hirdeteslista-container .hirdetes-muveletek {
	
}

div.hirdeteslista-container .hirdetes-muveletek>span {
	font-weight: bold;
}

div.hirdeteslista-container .hirdetes-ar {
	text-align: right;
	font-weight: bold;
}

div.hirdeteslista-container .hirdetes-hirdeto-header {
	color: #338be5;
	padding-left: 10px;
}

div.hirdetes-container .hirdetes-hirdeto-header {
	font-weight: bold;
}

.bar {
    height: 18px;
    background: green;
}

.badge {
	font-weight: normal;
}